{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Leyenda de Aang </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ducimus quia consequuntur dolorum provident est nihil excepturi! Ducimus repellat corporis deserunt, illo obcaecati, necessitatibus cupiditate maiores quaerat earum, minus sed!</p>
    </div>

    <div class="col-4">
        <img src="../public/assets/img/avatar-aang-01_4f2w.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}